<div class="addContainer">
    <div class="contact-details">
        <div class="modalHeader">
            <div class="editRowModal">
                <div class="modalHeader clearfix">
                    <div class="modal-about contact-header">

                        <div class="contact-details-heading">
                            <div class="contact-details-name">{{exhibits()?.ExhibitsName}}</div>
                            <!--<div class="col-green font-12">Friends</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div mat-dialog-content>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <mat-card>
                        <img mat-card-image [src]="ExhibitsEnlarge + exhibits()?.EnlargeImg1">
                    </mat-card>
                    <mat-card>
                        <img mat-card-image [src]="ExhibitsEnlarge + exhibits()?.EnlargeImg2">
                    </mat-card>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <mat-card-content>
                        <div class="contact-details-field">
                            <strong>年版：</strong> {{exhibits()?.PlateYear}}
                        </div>
                        <div class="contact-details-field">
                            <strong>發行地區：</strong> {{exhibits()?.Area}}
                        </div>
                        <div class="contact-details-field">
                            <strong>面額：</strong> {{exhibits()?.Dollar}}
                        </div>
                        @if(exhibits()?.size_L){
                        <div class="contact-details-field">
                            <strong>本件尺寸：</strong> {{exhibits()?.size_L }}{{exhibits()?.size_W }} mm
                        </div>}
                        @if(exhibits()?.Obj_color1){
                        <div class="contact-details-field">
                            <strong>主墨色：</strong> {{exhibits()?.Obj_color1}} / {{exhibits()?.Obj_color2}}
                        </div>
                        }
                        @if(exhibits()?.obj_material){
                        <div class="contact-details-field">
                            <strong>材質：</strong> {{exhibits()?.obj_material}}
                        </div>}
                        @if(exhibits()?.imgDescr1){
                        <div class="contact-details-field">
                            <strong>圖案：</strong> {{exhibits()?.imgDescr1}}
                            {{exhibits()?.imgDescr2}}
                        </div>
                        }@if(exhibits()?.Exhibits_Story){
                        <div class="contact-details-field">
                            <strong>內容：</strong> {{exhibits()?.Exhibits_Story}}
                        </div>}
                    </mat-card-content>
                </div>
            </div>

        </div>
    </div>

</div>