<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!--<img [src]='advanceTable.img' alt="avatar">-->
        <div class="modal-about">
          <div class="fw-bold p-t-5 p-l-10 font-17">
            {{(mediaType | mediaType) + dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="isForm">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>名稱</mat-label>
            <input matInput formControlName="Title" #title required maxlength="200">
            <mat-hint align="end">{{title?.value?.length || 0}}/200</mat-hint>
            <mat-error>
              <app-shared-validator-error [ctrl]="isForm.get('Title')"></app-shared-validator-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline" maxlength="2000">
            <mat-label>內文</mat-label>
            <textarea matInput formControlName="content" #content></textarea>
            <mat-hint align="end">{{content?.value?.length || 0}}/2000</mat-hint>
          </mat-form-field>

          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>生效日期</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                @if (isForm.get('startDate')?.hasError('required')) {
                <mat-error>
                  Please select date
                </mat-error>
                }
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>截止日期</mat-label>
                <input matInput [matDatepicker]="pickerEnd" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          @if(mediaType === '1'){
          <app-shared-file-one-upload [type]="'media1'" [filePath]="isForm.get('File1')?.value"
            (uploadFile)="onFile($event, 'File1')"></app-shared-file-one-upload>

          <app-shared-file-one-upload [type]="'media2'" [filePath]="isForm.get('File2')?.value"
            (uploadFile)="onFile($event, 'File2')"></app-shared-file-one-upload>

          <app-shared-file-one-upload [type]="'media3'" [filePath]="isForm.get('File3')?.value"
            (uploadFile)="onFile($event, 'File3')"></app-shared-file-one-upload>

          <app-shared-file-one-upload [type]="'media4'" [filePath]="isForm.get('File4')?.value"
            (uploadFile)="onFile($event, 'File4')"></app-shared-file-one-upload>

          <app-shared-file-one-upload [type]="'media5'" [filePath]="isForm.get('File5')?.value"
            (uploadFile)="onFile($event, 'File5')"></app-shared-file-one-upload>
          }
          @if(mediaType === '5' ){
          <app-shared-file-one-upload [type]="'studyImg'" [filePath]="isForm.get('File1')?.value"
            (uploadFile)="onFile($event, 'File1')"></app-shared-file-one-upload>

          <app-shared-file-one-upload [type]="'studyPdf'" [filePath]="isForm.get('File2')?.value"
            (uploadFile)="onFile($event, 'File2')"></app-shared-file-one-upload>
          }
          @if(mediaType === '6' ){
          <app-shared-file-one-upload [type]="'videoImg'" [filePath]="isForm.get('File1')?.value"
            (uploadFile)="onFile($event, 'File1')"></app-shared-file-one-upload>

          <app-shared-file-one-upload [type]="'videoFile'" [filePath]="isForm.get('File2')?.value"
            (uploadFile)="onFile($event, 'File2')"></app-shared-file-one-upload>
          }

          @if(mediaType === '3' ){
          <app-shared-file-one-upload [type]="'gameImg'" [filePath]="isForm.get('File1')?.value"
            (uploadFile)="onFile($event, 'File1')"></app-shared-file-one-upload>

          <app-shared-file-one-upload [type]="'gameZip'" [id]="isForm.get('ID')?.value" [filePath]="isForm.get('File2')?.value"
            (uploadFile)="onFile($event, 'File2')"></app-shared-file-one-upload>
          }

        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          @defer {
          <app-shareds-state-button [control]="isForm.get('state')"></app-shareds-state-button>}
        </div>

      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!isForm.dirty || !isForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>

      <!--{{isForm.value | json}}-->
    </form>
  </div>
</div>
