<div class="m-b-20">
  <mat-label class="msr-3">狀態:</mat-label>
  <mat-slide-toggle [formControl]="control">
    @if(control.value){開啓}@else{關閉}
  </mat-slide-toggle>
  <!--
  <mat-radio-group aria-label="Select gender" formControlName="gender" required>
    <mat-radio-button value="male">啓用</mat-radio-button>
    <mat-radio-button value="female">關閉</mat-radio-button>

    @if (advanceTableForm.get('gender')?.hasError('required')) {
      <mat-error>
        Select gender
      </mat-error>
    }

  </mat-radio-group>    -->
</div>
