<section class="content">
  <div class="content-block">

    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb></app-breadcrumb>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">

          <div class="body">
            <mat-tab-group>
              <mat-tab label="問答遊戲主題">
                <br>
                <app-qa-game-list></app-qa-game-list>
              </mat-tab>
              <mat-tab label="問答遊戲題目">
                <br>
                <app-qa-game-item-list></app-qa-game-item-list>
              </mat-tab>
            </mat-tab-group>
          </div>



        </div>
      </div>
    </div>
  </div>
</section>
